#calculator-container {
    border: 1px solid black;
    width: 450px;
    height: auto;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

#infinity-quote {
    width: 35%;
    height: auto;
    margin: 50px auto;
    border-radius: 15px;
    display: none;
}

#refresh {
    width: 10%;
    margin: 0 auto;
    display: none;
}

#refresh:hover {
    cursor: pointer;
}

.display-container {
    background-color: white;
    border-radius: 15px;
    text-align: right;
    border: 1px solid black;
    font-size: 40px;
    padding: 10px;
    min-height: 80px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#running-total {
    font-size: 25px;
}

.remove-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    gap: 20px;
    
    
}

.remove-button {
    text-align: center;
    border: 1px solid black;
    margin: 20px 0px;
    width: 48%;
    border-radius: 15px;
    padding: 10px;
    background-color: lightcoral;
}

.number-operator-buttons {
    display: flex;
    width: 450px;
    height: 450px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    
    
}

.number-operator-button {
    box-sizing: border-box;
    width: 23%;
    height: 23%;
    border-radius: 15px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.numbers{
    background-color: lightblue;
}

.operators {
    background-color: lightgreen;
}
.button:hover {
     cursor: pointer;
     border-color: grey;
     
 }

 .button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 }

.button {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }

 body, html {
     padding: 0;
     margin: 0;
     height: 100%;
 }
 
 body {
     display: flex;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

 footer {
     background-color: black;
     color: white;
     flex-shrink: 0;
     display: flex;
     justify-content: center;
 }

 